/*Обнуление*/
*{padding:0;margin:0;border:0;}
*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
:focus,:active{outline:none;}
a:focus,a:active{outline:none;}
nav,footer,header,aside{display:block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display:none;}
button{cursor:pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}
/*--------------------*/


body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;

	display: flex;
	flex-direction: column;
}

.container{
	max-width: 1180px;
	margin: 0px auto;
}


.content {
	flex: 1 1 auto;
}

.hi {
	padding: 50px 0;
    background-color: #445162;
    border-bottom: 2px dashed #000000;
}
.hirow {
	display: flex;
	justify-content: space-between;
}

.hibody{
    color: #fff;
}

.hititle{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    font-size: 60px;
    margin: 0px 0px 38px 0px;
}

.hilist li{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    line-height: 22px;
    font-size: 20px;
    margin: 0px 0px 15px 0px;
}

.title{
    color: #000000;
    font-size: 30px;
    line-height: 36px;
}

.what{
    padding: 50px 0;
    background-image: url(https://i.pinimg.com/originals/80/85/36/808536e504da54a3522fcaa2a4e209e7.gif);
    background-blend-mode: multiply;
    background-color: #d6c1e6;
    background-size: cover;
    background-attachment: fixed;
}

.whatrow{
    display: flex;
}

.whatimage{
    flex: 0 0 498px;
    border-radius: 5px;
    border:4px solid #445162;
}

.whatiamge img{
    max-width: 100%;
}

.whatbody{
    flex: 1 1 auto;
    padding: 0px 0px 0px 40px;
}

.whattitle{
    margin: 0px 0px 33px 0px;
}

.whattext p{
    margin: 0px 0px 20px 0px; /*дляя отступа в параграфах*/
    color: #0f0f0f;
    font-size: 18px;
    line-height: 20px;
}

.columns{
    background-color: #f5f5f5;
    padding: 50px 0 20px 0; /*добавил 20px 0px,тк появился общи отспуп в колонках после добавления margin: 0px 0px 30px 0px; в .columnscolumn{}. Почему добавил 20? Т.к 50-30=20px*/
}

.columnstitle{
    text-align: center;
    margin: 0px 0px 30px 0px;
}

.columnsrow{
    display: flex;
    flex-wrap: wrap; /*что бы колонки шли не в рад,а встали в столб по 2*/
    margin: 0 -8px; /*отспуп между колонками (правой и левой)*/
}

.columnscolumn{
    flex: 0 1 50%;
    margin: 0px 0px 30px 0px; /*отспуп между колонками (вниз)*/
    padding: 0 8px;
}

.itemrow{
    display: flex;
}

.itemimage{
    flex: 0 0 200px;
}
.itemimage img{
    max-width: 100%;
}

.itembody{
    flex: 1 1 auto;
    padding: 0px 0px 0px 15px;
}

.itemtitle{
    color: #445161;
    font-size: 24px;
    line-height: 30px;
    margin: 0px 0px 13px 0px;
}

.itemtext{
    color: #333333; 
    font-size: 16px;
    line-height: 24px;
}

.vertical{
    padding: 50px 0;
    background-image: url(https://wallpapercave.com/wp/wp7611589.jpg);
    background-blend-mode: multiply;
    background-color: #e2c0c085;
    background-size: cover;
}

.verticaltitle{
    text-align: center;
    margin: 0px 0px 30px 0px;
    color: #000000;
    font-size: 24px;
    line-height: 30px;
}

.verticalbody{
    max-width: 990px;
    margin: 0px auto;
}

.verticalrow{
    display: flex;
    margin: 0px -22.5px;
}

.verticalcolumn{
    padding: 0px 22.5px;
    flex: 0 1 33.333%;
    display: flex;
}

.verticalitem{
    background-color: #445162;
    color: #fff;
    padding: 0px 0px 20px 0px;
    border-radius: 5px;
    border:2px solid #445162;
    display: flex;
    flex-direction: column;
}

.verticalsubtitle{
    font-size: 24px;
    text-transform: uppercase;
    padding: 12px 0;
    text-align: center;
}

.verticallabel{
    background-color: #fff;
    text-align: center;
    color: #445161;
    font-size: 40px;
    padding: 18px 0;
}

.verticaltext{
    padding: 20px;
    font-size: 14px;
    line-height: 24px;
    flex: 1 1 auto;
}

.verticaltext p{
    margin: 0px 0px 15px 0px;
}

.verticaltext p:last-child{
    margin: 0;
}

.verticalbtn{
    display: block;
    height: 40px;
    margin: 0px 20px;
    background-color: #ffff;
    line-height: 40px;
    text-align: center;
    border-radius: 5px;
    color: #445161;
    font-size: 18px;  
    cursor: pointer;  
}

.verticalbtn:hover{ /*стили кнопки при наведении*/
    transition: all 0.5s; /*плавный переход*/
    background: rgb(223, 163, 196);
    color: #121314;
}

.footer {
    background-color: #f5f5f5;
    border-top: 2px dashed #7a7676;
    margin: 2px;
}
.footerrow {
	display: flex;
	height: 65px;
	justify-content: center;
	align-items: center;
}
.footertext {
	color: #445162;
	font-size: 12px;
	letter-spacing: 0.3px; 
}

